# Nested Lists, Ranges and Tuples

## Nested lists

The code in this section reads in integers from a file &mdash; 10 integers per line &mdash; and creates a nested list. First, here is the file:

In [ ]:
%%bash
cat ../data/number_rows.txt

In [1]:
int_matrix = []
with open('../data/number_rows.txt', 'r') as f:
    for line in f:
        int_line = line.split()
        int_line = [int(n) for n in int_line]
        int_matrix.append(int_line)
print(int_matrix)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]]

## Ranges

Here are two ranges. Can you guess what they prints out before you run the code?

In [2]:
print(list(range(10,51,5)))

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [3]:
print(list(range(50,-1,-10)))

[50, 40, 30, 20, 10, 0]

## Tuples

Here is code to swap two values, as shown in the lecture:

In [4]:
t = ("a", 4, [4, ])

In [5]:
t[2].append(3)

In [7]:
t

('a', 4, [4, 3])

In [6]:
a = 10
b = 5
(a, b) = (b, a)
print('a =', a)
print('b =', b)

a = 5
b = 10

Use tuples to reverse the order of the values in these 4 variables:

In [10]:
c = 1
d = 2
e = 3
f = 4

(c,d,e,f) = (f,e,d,c)
print ("c =", c)
print ("d =", d)
print ("e =", e)
print ("f =", f)
# make c = 4, d = 3, e = 2, f = 1

c = 4
d = 3
e = 2
f = 1

# Set

In [11]:
letters = {"a", "b", "c"}

In [25]:
letters.add("e")

In [24]:
print(letters)

{'e', 'b', 'c', 'a'}

In [12]:
letters

{'4', 'a', 'b', 'c'}

In [23]:
set(["a", "b", "c"])

{'a', 'b', 'c'}

# Range

In [19]:
list(range(1, 4, 2))

[1, 3]

In [22]:
a = [(1, 2), (3, 4)]
a[1][0]

3

# Trick

You can swap the value of two variables very easily in python:

In [26]:
a = 1
b = 2
a, b

(1, 2)

In [27]:
a, b = b, a
a, b

(2, 1)